<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <!-- Authorizing , NotAuthorized-->
            <Authorizing>
                <p>در حال بررسی</p>
            </Authorizing>
            <NotAuthorized>
                <p>شما احراز هویت نشده اید</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>صفحه مورد نظر یافت نشد</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
